.img-thumb {
  display: inline-block;
  width: 19%;
  margin: 0.5%;
}

.create-achievement {
  position: sticky;
  top: 5rem;
}

.figure-title {
  text-transform: none;
}

.card-figure img {
  filter: grayscale();
}

.card-add { opacity: 0.3; border: 3px dashed; transition: 0.3s opacity; }
.card-add:hover { opacity: 1; }

.card-add .btn {
  width: 100%;
}

.card-add-image {
  background: rgba(0,0,0,0.1);
}

.card-add-image img {
  opacity: 0;
}