.friend-item {
  overflow: visible;
  margin-top: 50px;
}

.friend-item .user-avatar img {
  box-shadow: 0px 1px 2px 1px rgba(154, 154, 204, 0.22);
  border: 1px solid #ccc;
}

.friend-item .metric {
  font-size: 24px;
  color: #444;
}