
.sidebar-dark {
  background: url(./geometric.jpg) center top no-repeat;
  background-size: auto 100%;
}

.sidebar-dark .nav-divider {
  color: #aaa;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link {
  color: #fff;
  border: 1px solid transparent;
}

.sidebar-dark.nav-left-sidebar .navbar-nav .nav-link.active {
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  border-radius: 4px;
  border: 1px solid #444;
}

.sidebar-dark.nav-left-sidebar .nav-link i {
  color: #aaa;
}

.nav-left-sidebar {
  width: 190px;
  position: fixed;
  z-index: 1;
  left: 0;
}

.nav-left-sidebar.open {
  left: 0;
}


@media screen and (max-width: 767px) {
  .nav-left-sidebar {
    /*left: -190px;*/
  }

  .nav-left-sidebar.closed {
    left: 0px;
    width: 44px;
  }

  .nav-left-sidebar.closed .nav-divider { display: none; }
  .nav-left-sidebar.closed .nav-link { font-size: 0; }
  .nav-left-sidebar.closed i.fa { margin: 0; }
  .nav-left-sidebar.closed .navbar { padding: 14px 0; }
}